body {
  background-color: #000;
  color: #ffffff;
  font-family:  "Montserrat", sans-serif;
  margin: 0;
  
}

.eds-about-section {
  max-width: auto;
  margin: auto;
  padding: 1rem 0;
  margin-left: 144px !important;
  padding-right: 24px !important;
  
}

.eds-about-section h3 {
  color: rgb(241, 241, 241);
  display: block;
  font-family:  "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.eds-about-section hr {
  border: none;
  border-top: 2px solid rgb(117, 117, 117);
  width: 200px;
  margin: 20px 0px;
}

.eds-about-section p {
  color: rgb(117, 117, 117);
  line-height: 1.6;
  font-size: 15px;
  line-height: 1.5;
  
}
