body{
  background-color: #000;
}
.s-quarter-block {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 144px;
    margin-top: 16px;
    font-family: "Montserrat", sans-serif !important;
    
    margin-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    
  }
  
  .s-quarter-col {
    flex: 1;
    padding: 0px;
    
  }  
  
  .s-quarter-number {
    font-size: 24px;
    color: rgb(0, 0, 0);
  }
  
  .s-quarter-label {
    font-size: 15px;
    color: rgb(0, 0, 0);
   
  }