.s-banner-title {
  text-align: center;
}

.s-banner-title-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.s-banner-subtitle {
  text-align: center;
}

.s-banner-subtitle-text {
  font-size: 16px;
  color: #ccc;
}

.s-banner-image {
  text-align: center;
}

.s-banner-image-content {
  width: 100%;
  border-radius: 8px;
}
